@font-face {
  font-family: summer-dragonfly;
  src: url(./assets/fonts/Summer-Dragonfly.otf);
}
@font-face {
  font-family: slenco-black;
  src: url(./assets/fonts/Slenco-Black.otf);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

#App {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(172, 9, 9);

  font-family: "slenco-black", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
}

#Header {
  background-color: rgb(172, 9, 9);
  display: flex;
  flex-direction: column;
  width: 100%;
  color: rgb(255, 255, 255);
  position: fixed;
  z-index: 2;
}

#Header h1,
.title-main,
#Header span,
#Navi,
#Navi button,
#Menu,
#MenuClone,
.bullet {
  background-color: black;
  outline-color: black;
}

#Header h1 {
  margin: 0;
  padding: 0.2em 0 0.1em 0.3em;
  font-size: 42px;
  text-align: left;
  border-radius: 0 0 50px 0;
  letter-spacing: -3px;
  word-spacing: -7px;
  border-style: solid;
  border-width: 0 4px 0 0;
  border-color: black;
  box-sizing: border-box;
  transition: 0.25s;
  display: flex;
}

.title-main,
.title-L,
.title-C {
  display: inline;
  z-index: 3;
  transition: .25s;
}

.animate .title-main,
.animate .title-L {
  animation: dlc-reveal 1s ease-in-out forwards;
}
.animate-reverse .title-main,
.animate-reverse .title-L {
  animation: dlc-reveal 1s ease-in-out reverse;
}
.initial-animate .title-main,
.initial-animate .title-L {
  animation: dlc-reveal 1s ease-in-out forwards 2s;
}

@keyframes dlc-reveal {
  from {
    margin-right:0px;
    word-spacing: -7px;
  } to {
    margin-right: 26px;
    word-spacing: normal;
  }
}

.span-e {z-index:2;}
.span-a {z-index: 1;}
.span-ruz {z-index: 0;}

.animate .span-e {
  animation: e-reveal 1s ease-in-out forwards;
}
.animate-reverse .span-e {
  animation: e-reveal 1s ease-in-out reverse;
}
.initial-animate .span-e {
  animation: e-reveal 1s ease-in-out forwards 2s;
}

.animate .span-a {
  animation: a-reveal 1s ease-in-out forwards;
}
.animate-reverse .span-a {
  animation: a-reveal 1s ease-in-out reverse;
}
.initial-animate .span-a {
  animation: a-reveal 1s ease-in-out forwards 2s;
}

.animate .span-ruz {
  animation: ruz-reveal 1s ease-in-out forwards;
}
.animate-reverse .span-ruz {
  animation: ruz-reveal 1s ease-in-out reverse;
}
.initial-animate .span-ruz {
  animation: ruz-reveal 1s ease-in-out forwards 2s;
}

@keyframes e-reveal {
  from {
    left: 105px;
  }
  to {
    left: 135px;
  }
}

@keyframes a-reveal {
  from {
    left: 105px;
  } to {
    left:178px;
  }
}

@keyframes ruz-reveal {
  from {
    left:75px;
  } to {
    left:226px;
  }
}

#Header h1 span {
  position: absolute;
}

#Header:has(#Navi.open) h1 {
  border-color: white;
}

#Navi {
  display: flex;
  position: absolute;
  flex-direction: column;
  right: 0;
  top: 3.8em;
}

#Navi button {
  background-color: rgb(172, 9, 9);
  border-width: 0 0 2px 3px;
  border-color: black;
  outline: 3px solid rgb(172, 9, 9);
  color: white;
  text-shadow: 2px 2px black;
}

#Navi button:hover {
  border-color: white;
}

#Navi,
#Navi button {
  border-radius: 50px 0 50px 50px;
  transition: 0.25s;
}

#Navi.open,
#Navi.open button {
  border-radius: 50px 0 0 0;
  border-color: white;
}

#Menu,
#MenuClone {
  display: none;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  font-size: 0.8em;
  position: absolute;
  top: 3.3em;
  right: 0;
  padding: 1em 0.6em;
}

#Menu.open {
  display: flex;
  animation: menu-toggle 0.25s forwards;
}

#MenuClone {
  display: none;
}

#MenuClone.closing {
  display: flex;
  animation: menu-toggle 0.25s reverse;
}

@keyframes menu-toggle {
  from {
    opacity: 0%;
    gap: 0;
  }
  to {
    opacity: 100%;
    gap: 8px;
  }
}

hr {
  width: 100%;
  height: 1px;
  border: none;
  background-image: linear-gradient(
    90deg,
    transparent,
    rgb(172, 9, 9),
    transparent
  );
}

#Navi a {
  text-decoration: none;
  color: white;
}

#Navi a:hover {
  color: rgb(131, 132, 150);
}

#Navi a:active {
  color: rgb(255, 255, 255);
}

#Splash {
  margin-top: 3.7em;
  padding-top: 3px;
  background-color: white;
  position: relative;
  height: 480px;
}

#Splash .wrapper {
  animation: wrapper-warp 1s ease-in-out forwards 1s;
  opacity: 0%;
  position: absolute;
  height: 480px;
  width: 320px;
  z-index: 1;
}

@keyframes wrapper-warp {
  from {
    perspective: 50px;
    opacity: 100%;
  }
  to {
    perspective: 200px;
    opacity: 100%;
  }
}

#Splash h1 {
  font-family: summer-dragonfly, Arial, Helvetica, sans-serif;
  text-align: left;
  line-height: 105px;
  transform: rotateY(30deg);
  font-size: 130px;
  color: rgb(172, 9, 9);
  position: absolute;
  top: 0;
  left: 40px;
}

#Splash .text-effect {
  -webkit-text-stroke: 2px black;
  color: transparent;
  position: absolute;
  top: 1px;
  left: 43px;
}

.bullets-container {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  height: calc(100% - 71px);
  padding-top: 63px;
  justify-content: space-between;

  perspective: 500px;
  animation: bullets-in 1s forwards 1s;
  opacity: 0%;
}

.bullet {
  color: white;
  text-wrap: wrap;
  width: 115px;
  display: flex;
  align-items: center;
  justify-content: center;

  outline-width: 4px;
  outline-style: solid;
  outline-offset: 2px;
  transform: rotateY(-30deg);
}

@keyframes bullets-in {
  from {
    height: 50px;
    top: 80px;
    right: 300px;
    opacity: 100%;
  }
  25% {
    height: calc(100%-40px);
  }
  to {
    top: 0;
    right: 6px;
    opacity: 100%;
  }
}

.bullet p {
  text-align: center;
  font-size: 14px;
  margin: 5px 5px;
}

#AboutMe {
  color:white;
  text-align: left;
  padding:0 10px 25px;
}

#AboutMe h2 {
  color:white;
  -webkit-text-stroke: 1px black;
  text-shadow: 2px 2px black;
  font-size:1.8em;
}

#AboutMe p {
  text-shadow: 2px 2px black;
  margin-bottom:25px;
  word-spacing: 2px;
  line-height:26px;
}

#AboutMe :last-child {
  margin-bottom:initial;
}

#Projects {
  background-color: white;
  padding:0 15px 15px;
}

#Projects h2 {
  font-size: 2.8em;
  margin: .3em;
  color:rgb(172, 9, 9);
  -webkit-text-stroke: 1px black;
  text-shadow: 3px 3px black;
}

#Projects .container {
  display: flex;
  flex-direction: column;
  gap:25px;
}

.Card {
  display: flex;
  flex-direction: column;
  background-color: black;
  outline:solid 6px black;
  outline-offset: 1px;
  color:white;
  box-sizing: border-box;
  align-items: flex-start;
  padding:10px;
}

.Card h3, .Card h4 {
  margin:0;
}

.Card h3 {
  font-size: 28px;
}

.Card hr {
  margin:0;
  margin-bottom: 4px;
  background-image: linear-gradient(90deg, white, transparent);
}

.Card h4 {
  color:rgb(192, 192, 192);
  font-weight: 100px;
  text-align: left;
}

.Card p span {
  background-color: rgb(53, 0, 247);
  border-radius: 5px;
  padding:3px;
  font-weight: 100px;
}

.Card p.tech{
  font-size: 12px;
  margin-bottom: 8px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.Card img {
  width:100%;
  align-self: center;
  margin-bottom:24px;
}

.Card p {
  font-size:12px;
  font-style: italic;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
}

.Card p strong {
  font-style: normal;
  display: block;
}

.Card div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.Card button,
#Resume button {
  color:white;
  text-shadow: 2px 2px black;
}

.Card button:hover {
  border:1px solid white;
}

.Card button:focus,
.Card button:focus-visible {
  outline: none;
}

.Card button.site,
#Resume button {
  background-color: rgb(172, 9, 9);
}

#Skills {
  display:flex;
  flex-direction: column;
  gap: 20px;
  background-color: black;
  padding:15px;
  box-sizing: border-box;
  width:100%;
}

#Skills h3 {
  grid-column: 1 / 3;
  color:white;
  font-size: 1.5em;
  box-shadow: 4px 4px black;
  background-color: rgb(172, 9, 9);
}

.tech-skills,
.tools {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap:40px;
  background-color: white;
  padding:0 15px;
}

.skill-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Skills img {
  width:100%;
}

#Resume {
  background-color: black;
  padding:20px;
}

#Resume h2 {
  margin:0;
}

#Resume div {
  background-color: white;
  padding:15px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  gap:25px;
}

#Resume button {
  background-color: rgb(172, 9, 9);
  text-shadow: none;
  font-size: 1.3em;
  border: 2px white solid;
  box-shadow: 1px 4px black;
}

#Resume button:hover {
  background-color: rgb(172, 9, 9);
  border-color:black;
}

#ContactMe {
  background-color: white;
  padding:10px 15px;
}

#ContactMe h2 {
  background-color: rgb(172, 9, 9);
  box-shadow: 4px 4px black;
  color:white;
  text-shadow:2px 2px black;
  -webkit-text-stroke: 1px black;
  font-size: 1.8em;
  border-radius: 10px;
  width:150px;
  margin: 6px auto 12px;
}

#ContactMe form,
#ContactMe div {
  background-color: rgb(172, 9, 9);
  padding:15px;
  color:white;
}

#ContactMe div,
p label {
  text-shadow: 1px 2px black;
}

form p {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

input,
textarea {
  border:2px black solid;
}

textarea {
  height:5em;
  resize: none;
}

p label {
  justify-self: end;
  padding-right: 1em;
}

form button {
  grid-column: 1 / 3;
  background-color: black;
  border-color: black;
  justify-self: center;
  color:white;
}

form button:hover {
  border-color: white;
}